<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papa Leo's Pizza</title>

    <!-- Link to JavaSript -->
    <script src="/js/pizza.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" defer></script>
    <script
      src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"
      defer
    ></script>
    <!-- Favicon -->
    <link rel="icon" href="/images/pizzaicon.jpg" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/pizza-styles.css" />
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"
    />
  </head>
  <body>
    <main>
      <header>
        <img src="/images/pizzaguy.jpg" alt="image of pizzaguy" />
        <h1>Papa Leo's Pizza</h1>
        <p id="tagline">Serving GRC students for 50 years!</p>
        <hr />
        <p>
          "Freshly baked, cheesy, and topped with your favorites—order the pizza
          that delivers happiness in every slice!"
        </p>
        <a id="contact-button" href="#" role="button">Contact Us</a>
      </header>
      <h1>Admin page</h1>
      <table id="order-table" class="display">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Toppings</th>
            <th>Size</th>
            <th>Comment</th>
            <th>Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach(order => { %>
          <tr>
            <td><%= order.fname %></td>
            <td><%= order.lname %></td>
            <td><%= order.email %></td>
            <td><%= order.toppings %></td>
            <td><%= order.size %></td>
            <td><%= order.timestamp %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>
    <script defer>
      // import DataTable from "datatables.net-dt";
      let table = new DataTable("#order-table");
    </script>
  </body>
</html>
